USE [master]
GO
/****** Object:  Database [CarProject]    Script Date: 03/01/2022 19:40:47 ******/
CREATE DATABASE [CarProject]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarProject', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CarProject.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CarProject_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CarProject_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarProject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarProject]
GO
/****** Object:  Table [dbo].[CarInfo]    Script Date: 03/01/2022 19:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarInfo](
	[CarId] [int] NOT NULL,
	[CarType] [nvarchar](50) NOT NULL,
	[Km] [int] NOT NULL,
	[Pic] [nvarchar](max) NULL,
	[Rentable] [nvarchar](50) NOT NULL,
	[Available] [nvarchar](50) NOT NULL,
	[CarNum] [int] NOT NULL,
 CONSTRAINT [PK_CarInfo] PRIMARY KEY CLUSTERED 
(
	[CarNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarType]    Script Date: 03/01/2022 19:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarType](
	[CarId] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Manufactor] [nvarchar](50) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[DPrice] [int] NOT NULL,
	[DelayPrice] [int] NOT NULL,
	[Year] [int] NOT NULL,
 CONSTRAINT [PK_CarType] PRIMARY KEY CLUSTERED 
(
	[CarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentTable]    Script Date: 03/01/2022 19:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentTable](
	[UserId] [int] NOT NULL,
	[CarNum] [int] NOT NULL,
	[StartRentDate] [date] NOT NULL,
	[ReturnDate] [nvarchar](50) NOT NULL,
	[RealReturnDate] [nvarchar](50) NULL,
	[OrderNum] [int] IDENTITY(1001,1) NOT NULL,
 CONSTRAINT [PK_RentTable] PRIMARY KEY CLUSTERED 
(
	[OrderNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTable]    Script Date: 03/01/2022 19:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTable](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserTz] [int] NOT NULL,
	[nickName] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Bday] [date] NOT NULL,
	[Gender] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Picture] [nvarchar](max) NULL,
	[Role] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UserTable] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_UserTable] UNIQUE NONCLUSTERED 
(
	[UserTz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_UserTable_1] UNIQUE NONCLUSTERED 
(
	[nickName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CarInfo]  WITH CHECK ADD  CONSTRAINT [FK_CarInfo_CarType] FOREIGN KEY([CarId])
REFERENCES [dbo].[CarType] ([CarId])
GO
ALTER TABLE [dbo].[CarInfo] CHECK CONSTRAINT [FK_CarInfo_CarType]
GO
ALTER TABLE [dbo].[RentTable]  WITH CHECK ADD  CONSTRAINT [FK_RentTable_CarInfo] FOREIGN KEY([CarNum])
REFERENCES [dbo].[CarInfo] ([CarNum])
GO
ALTER TABLE [dbo].[RentTable] CHECK CONSTRAINT [FK_RentTable_CarInfo]
GO
ALTER TABLE [dbo].[RentTable]  WITH CHECK ADD  CONSTRAINT [FK_RentTable_UserTable] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserTable] ([UserId])
GO
ALTER TABLE [dbo].[RentTable] CHECK CONSTRAINT [FK_RentTable_UserTable]
GO
/****** Object:  StoredProcedure [dbo].[ShowCarTypeAndCarInfo]    Script Date: 03/01/2022 19:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ShowCarTypeAndCarInfo] 
as
begin 
select c.Manufactor,c.Model,i.CarNum,i.Km,i.Rentable,i.Available,c.Year,c.DPrice,c.DelayPrice,i.Pic
from CarType c join CarInfo i
on c.CarId=i.CarId
end
GO
USE [master]
GO
