table{
    border: 1px solid black;
}

th{
    border: 1px solid black;
    
 padding: 25px;

}

td{
    border: 1px solid black;
    text-align: center;
}
div.ex3 {
    width: 100%;
    height: 100%;
    overflow: auto;
}
  
