table{
    border: 1px solid black;
}

th{
    border: 1px solid black;    
    padding: 25px;

}

td{
    border: 1px solid black;
    text-align: center;
}

img{
    max-width: 130px;
    max-height: 130px;
}

tr:hover{
    background-color: cornflowerblue;
}

.scroll-container{
    scroll-behavior: auto;
    scroll-behavior: smooth;
}

.scroll-page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    
}


div.ex3 {
    width: 100%;
    height: 100%;
    overflow: auto;
}
  
